<div class="row"}>
  <h3>Games</h3>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Game Version</th>
          <th>Config Version</th>
          <th>Players</th>
          <th>Sprint</th>
        </tr>
      </thead>
      <tbody>
        <% Game.order(updated_at: :desc).each do |game| %>
          <tr>
            <td><%= link_to game.id.split('-').first, game_path(game) %></td>
            <td><%= game.game_config_id.split('-').first %></td>
            <td><%= game.player_stacks(status: 'active').map { |player| player['id'] }.join(', ') %></td>
            <td><%= game.sprint %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h3>
      Game Configs
      <%= link_to '+', new_game_config_path, class: "add-object" %>
    </h3>

    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cards</th>
          <th>Players</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @game_configs.each do |game_config| %>
          <%= form_tag games_path(game_config_id: game_config.id) do %>
            <tr data-selector="config-<%= game_config.id %>">
              <td><%= game_config.name %></td>
              <td>
                <% game_config.decks.each do |deckname, cards| %>
                  <div>
                    <%= "#{deckname}: #{cards.count}" %>
                  </div>
                <% end %>
              </td>
              <td><%= select_tag :players, options_for_select((2..4).to_a, 4) %></td>
              <td>
                <%= submit_tag "Start Game" %>
                <br>
                <% if game_config.locked %>
                  <%= link_to "Clone", new_game_config_path(parent_id: game_config.id) %>
                <% else %>
                  <%= link_to "Edit", edit_game_config_path(game_config) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>
