<h1>
  Games Testing Arena #1
</h1>

<div class="row"}>
  <div class="six columns"}>
    <h3>Games</h3>
    <table>
      <thead>
        <tr>
          <th>Game Version</th>
          <th>Players</th>
          <th>Sprint</th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="six columns"}>
    <h3>Game Configs</h3>
    <%= link_to 'New Config', new_game_config_path %>
    <table>
      <thead>
        <tr>
          <th>Version</th>
          <th>Cards</th>
          <th>Parent</th>
          <th>Locked</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% GameConfig.all.each do |game_config| %>
          <tr>
            <td><%= game_config.id.split('-').first %></td>
            <td>
              <% game_config.decks.each do |deckname, cards| %>
                <div>
                  <%= "#{deckname}: #{cards.count}" %>
                </div>
              <% end %>
            </td>
            <td><%= game_config.parent_id&.split('-')&.first || '-' %></td>
            <td><%= game_config.locked ? 'Yes' : 'No' %></td>
            <td><%= link_to "Start Game", new_game_path(game_config: game_config) %></td>
            <td>
              <% if game_config.locked %>
                <%= link_to "Edit", new_game_config_path(parent_id: game_config.id) %>
              <% else %>
                <%= link_to "Edit", edit_game_config_path(game_config) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
