<div class="row"}>
  <h3>Games</h3>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Game Version</th>
          <th>Players</th>
          <th>Sprint</th>
        </tr>
      </thead>
      <tbody>
        <% Game.order(updated_at: :desc).each do |game| %>
          <tr>
            <td><%= link_to game.game_config_id.split('-').first, game_path(game) %></td>
            <td><%= game.player_stacks(status: 'active').map { |player| player['id'] }.join(', ') %></td>
            <td><%= game.sprint %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h3>
      Game Configs
      <%= link_to '+', new_game_config_path, class: "add-object" %>
    </h3>

    <table class="u-full-width">
      <thead>
        <tr>
          <th>Version</th>
          <th>Cards</th>
          <th>Parent</th>
          <th>Locked</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% GameConfig.all.each do |game_config| %>
          <tr>
            <td><%= game_config.id.split('-').first %></td>
            <td>
              <% game_config.decks.each do |deckname, cards| %>
                <div>
                  <%= "#{deckname}: #{cards.count}" %>
                </div>
              <% end %>
            </td>
            <td><%= game_config.parent_id&.split('-')&.first || '-' %></td>
            <td><%= game_config.locked ? 'Yes' : 'No' %></td>
            <td><%= link_to "Start Game", new_game_path(game_config_id: game_config.id) %></td>
            <td>
              <% if game_config.locked %>
                <%= link_to "Edit", new_game_config_path(parent_id: game_config.id) %>
              <% else %>
                <%= link_to "Edit", edit_game_config_path(game_config) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
