<!DOCTYPE html>
<html>
  <head>
    <title>CardPlayer</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header row">
        <div class="col-lg-8">
          <h1 class="inline">
            <%= link_to 'Games Testing Arena', root_path %>
          </h1>
        </div>
        <div class="col-lg-4">
          <%= yield :top_right if content_for? :top_right %>
        </div>
        <% if content_for? :title %>
          <div class="col-sm-12">
            <h3 class="inline"><%= yield :title %></h3>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
